.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий чорний фон */
    z-index: 999; /* Забезпечує, що overlay буде над іншими елементами */
}